{% extends 'templates/layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {{ __('Client') }}

                    <div class="card-header-actions">
                        <a class="card-header-action btn-setting" href="{{ avoca_admin('/oauth2/edit_client') }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>{{ __('Client') }}</th>
                            <th>{{ __('Secret') }}</th>
                            <th>{{ __('Grant types') }}</th>
                            <th>{{ __('Scope') }}</th>
                            <th>{{ __('Action') }}</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for record in records %}
                                <tr>
                                    <td>
                                        <a href="{{ avoca_admin('/oauth2/edit_client/' ~ record.client_id) }}">
                                            {{ record.client_id }}
                                        </a>
                                    </td>
                                    <td>{{ record.client_secret }}</td>
                                    <td>{{ record.grant_types }}</td>
                                    <td>{{ record.scope }}</td>
                                    <td>
                                        <a href="{{ avoca_admin('/oauth2/edit_client/' ~ record.client_id) }}"
                                           class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{{ avoca_admin('/oauth2/delete/client/' ~ record.client_id) }}"
                                           class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}