{% extends 'templates/layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {{ __('Access Tokens') }}

                    <div class="card-header-actions">
                        <a class="card-header-action btn-setting" href="{{ avoca_admin('/oauth2/remove_expire_tokens') }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>{{ __('Tokens') }}</th>
                            <th>{{ __('Client id') }}</th>
                            <th>{{ __('User') }}</th>
                            <th>{{ __('Expires') }}</th>
                            <th>{{ __('Scope') }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td>{{ record.access_token }}</td>
                                <td>{{ record.client_id }}</td>
                                <td>{{ record.user_id }}</td>
                                <td>{{ record.expires }}</td>
                                <td>{{ record.scope }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}