{% extends 'layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_open(avoca_admin('/Oauth2/scopes')) }}
                <div class="card">
                    <div class="card-header">
                        {{ __(title) }}
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>{{ __('Name') }}</label>
                            {{ form_input('scope', record.scope, {class: 'form-control'}) }}
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
                    </div>
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}
