{% extends 'layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {{ __('Scope') }}

                    <div class="card-header-actions">
                        <a class="card-header-action btn-setting" href="{{ avoca_admin('/Oauth2/edit_scope') }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>{{ __('Scope') }}</th>
                            <th>{{ __('Is default') }}</th>
                            <th>{{ __('Action') }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td>{{ record.scope }}</td>
                                <td>{{ record.is_default }}</td>
                                <td>
                                    <a href="{{ avoca_admin('/Oauth2/delete/scope/' ~ record.scope) }}"
                                       class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}