extends ../../../layouts/admin

block content
    section.content-header
        h1 Create Module
            small Settings
        ol.breadcrumb
            li
                a(href=avoca_url('/admin'))
                    i.fa.fa-dashboard
                    = ' Home'
            li.active Dashboard

    section.content
        form(action=avoca_url('/admin/settings/create_module'), method="post")
            .box.box-default
                .box-header.with-border
                    h3.box-title Module generate

                    .box-tools.pull-right
                        a.btn.btn-box-tool(href=avoca_url('/admin/settings/modules'))
                            i.fa.fa-arrow-circle-left

                .box-body
                    .row
                        .col-md-12
                            .form-group
                                label Model
                                input.form-control(type="text", name="model", value=module.model)
                            .form-group
                                label Database table
                                input.form-control(type="text", name="table", value=module.table)
                            .form-group
                                label Controller
                                input.form-control(type="text", name="controller", value=module.controller)
                            .form-group
                                label Table structure
                                textarea.form-control(name="table_define", style="height: 200px")= table_fields
                                span.form-text.text-muted 1 field/1 line

                            .form-group
                                label Table indexes
                                textarea.form-control(name="table_index", style="height: 100px")= table_indexes
                                span.form-text.text-muted 1 field/1 line

                .box-footer
                    button.btn.btn-primary(type="submit") Create module