{% extends 'templates/layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_open(avoca_admin('/settings/create_module')) }}
                <div class="card">
                    <div class="card-header">
                        {{ __('Module generate') }}

                        <div class="card-header-actions">
                            <a class="card-header-action btn-setting" href="{{ avoca_admin('/settings/modules') }}">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>{{ __('Model') }}</label>
                            {{ form_input('model', module.model, {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ __('Database table') }}</label>
                            {{ form_input('table', module.table, {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ __('Controller') }}</label>
                            {{ form_input('controller', module.controller, {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ __('Table structure') }}</label>
                            {{ form_textarea('table_define', table_fields, {class: 'form-control'}) }}
                            <span class="form-text text-muted">{{ __('1 field/1 line') }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ __('Table indexes') }}</label>
                            {{ form_textarea('table_index', table_indexes, {class: 'form-control'}) }}
                            <span class="form-text text-muted">{{ __('1 field/1 line') }}</span>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{{ __('Create module') }}</button>
                    </div>
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}
