extends ../../../layouts/admin

block content
    section.content-header
        h1= ('All Settings')
            small= ('Settings')
        ol.breadcrumb
            li
                a(href=avoca_admin())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= ('Dashboard')

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title= ('Avoca Settings')

            .box-body
                a.btn.btn-app(href=avoca_admin('/settings/repair_database'))
                    i.fa.fa-cog
                    = ' ' + __('Repair')
                a.btn.btn-app(href=avoca_admin('/settings/create_module'))
                    i.fa.fa-plus-square
                    = ' ' + __('Create Module')