extends ../../../layouts/admin

block content
    section.content-header
        h1= __('All Modules')
            small= __('Settings')
        ol.breadcrumb
            li
                a(href=avoca_admin())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= __('Dashboard')

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title= __('Module management')

                .box-tools.pull-right
                    a.btn.btn-box-tool(href=avoca_admin('/settings/create_module'))
                        i.fa.fa-plus-circle

            .box-body
                table.table.table-bordered
                    thead
                        tr
                            th= __('Controller Name')
                            th= __('Model Name')
                            th= __('Table Name')
                            th= __('Actions')
                    tbody
                        each module in modules
                            tr
                                td
                                    a(href=avoca_admin(module.controller))= module.controller
                                td= module.model
                                td= module.table
                                td
                                    a(href=avoca_admin('/settings/create_module/' + module.controller), title=__('Edit'))
                                        i.fa.fa-pencil