extends ../../layouts/manage

block content
    section.content-header
        h1= __('Edit')
            small= __('Settings')
        ol.breadcrumb
            li
                a(href=avoca_manage())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= __('Dashboard')

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title= __('Avoca Settings')

                .box-tools.pull-right
                    a.btn.btn-box-tool(href=avoca_manage(list_link))
                        i.fa.fa-arrow-circle-left

            .box-body
