{% extends 'templates/layouts/manage.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_open(avoca_manage('/' ~ _controller ~ '/save')) }}
                <input type="hidden" name="id" value="{{ recordFVal(record, 'id') }}">
                <div class="card">
                    <div class="card-header">
                        {{ __('Create') }}

                        <div class="card-header-actions">
                            <a class="card-header-action btn-setting" href="{{ avoca_manage(list_link) }}">
                                <i class="fa fa-list"></i>
                            </a>
                            {% if record %}
                                <a class="card-header-action btn-setting" href="{{ recordLink(view_link, record) }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% if recorddefs %}
                            {% for group in recorddefs.fields %}
                                <div class="row">
                                    {% set colclass = 'col-md-6' %}
                                    {% if group|length == 1 %}
                                        {% set colclass = 'col-md-12' %}
                                    {% endif %}

                                    {% for field, option in group %}
                                        <div class="{{ colclass }}">
                                            <div class="form-group">
                                                <label>{{ fieldLabel(field, option)|lang }}</label>
                                                {{ avoca_form(field, recordFVal(record, field), option) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-warning">{{ 'No config layout'|lang }}</div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% set buttons = false %}
                        {% if recorddefs.buttons %}
                            {% set buttons = recorddefs.buttons %}
                        {% endif %}

                        {% if not buttons or buttons.save is null or buttons.save != false %}
                            <button type="submit" class="btn btn-primary">
                                {% if buttons.save and buttons.save.label %}
                                    {{ buttons.save.label|lang }}
                                {% else %}
                                    {{ 'Save'|lang }}
                                {% endif %}
                            </button>
                        {% endif %}

                        {% if not buttons or buttons.cancel is null or buttons.cancel != false %}
                            <a href="{{ avoca_manage(list_link) }}" class="btn">
                                {% if buttons.cancel and buttons.cancel.label %}
                                    {{ buttons.cancel.label|lang }}
                                {% else %}
                                    {{ 'Cancel'|lang }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}