{% extends 'templates/layouts/manage_simple.twig' %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ avoca_url() }}"><b>Avoca</b>IO</a>
        </div>

        {{ form_open('/auth') }}
            <input type="hidden" name="return_url" value="{{ return_url }}">
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <div class="form-group has-feedback">
                    {{ form_input('username', '', {class: 'form-control'}) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {{ form_password('password', '', {class: 'form-control'}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        {{ form_close() }}
    </div>
{% endblock %}