{% extends 'layouts/manage.twig' %}

{% block headerNavL %}
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="{{ avoca_admin('/') }}">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="{{ avoca_admin('/Users') }}">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="{{ avoca_admin('/Settings') }}">Settings</a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ avoca_admin() }}">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="{{ avoca_admin('/Oauth2') }}">
                    <i class="nav-icon icon-puzzle"></i> {{ __('Oauth2') }}
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ avoca_admin('/Oauth2') }}">
                            <i class="nav-icon icon-puzzle"></i> {{ __('Clients') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ avoca_admin('/Oauth2/tokens') }}">
                            <i class="nav-icon icon-puzzle"></i> {{ __('Access tokens') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ avoca_admin('/Oauth2/refresh_tokens') }}">
                            <i class="nav-icon icon-puzzle"></i> {{ __('Refresh tokens') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ avoca_admin('/Oauth2/scopes') }}">
                            <i class="nav-icon icon-puzzle"></i> {{ __('Scope') }}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://avoca.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download AvocaIO
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ avoca_admin() }}">{{ 'Admin'|lang }}</a>
        </li>
        {% block breadcrumbItem %}
            <li class="breadcrumb-item">
                <a href="{{ avoca_admin(_controller) }}">{{ _controller|capitalize }}</a>
            </li>
            <li class="breadcrumb-item active">{{ _pageTitle }}</li>
        {% endblock %}
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="{{ avoca_admin() }}">
                    <i class="icon-graph"></i>  Dashboard</a>
                <a class="btn" href="{{ avoca_admin('/Settings') }}">
                    <i class="icon-settings"></i>  Settings</a>
            </div>
        </li>
    </ol>
{% endblock %}