{% extends 'layouts/manage.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_open(avoca_url('/' ~ _controller ~ '/save')) }}
                <input type="hidden" name="id" value="{{ attribute(record, 'id') }}">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>

                        <div class="box-tools pull-right">
                            <a class="btn btn-box-tool" href="{{ avoca_url(list_link) }}">
                                <i class="fa fa-list"></i>
                            </a>
                            {% if record %}
                                <a class="btn btn-box-tool" href="{{ avoca_url(Model.fieldModel().replace(view_link, record)) }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-body">
                        {% if recorddefs %}
                            {% for group in recorddefs.fields %}
                                <div class="row">
                                    {% set colclass = 'col-md-6' %}
                                    {% if group|length == 1 %}
                                        {% set colclass = 'col-md-12' %}
                                    {% endif %}

                                    {% for field, option in group %}
                                        <div class="{{ colclass }}">
                                            <div class="form-group">
                                                <label>{{ Model.fieldModel().label(field, option)|lang }}</label>
                                                {{ avoca_form(field, record, option) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-warning">{{ 'No config layout'|lang }}</div>
                        {% endif %}
                    </div>
                    <div class="box-footer">
                        {% set buttons = false %}
                        {% if recorddefs.buttons %}
                            {% set buttons = recorddefs.buttons %}
                        {% endif %}

                        {% if not buttons or buttons.save is null or buttons.save != false %}
                            <button type="submit" class="btn btn-primary">
                                {% if buttons.save and buttons.save.icon %}
                                    <i class="{{ buttons.save.icon }}"></i>
                                {% else %}
                                    <i class="fa fa-save"></i>
                                {% endif %}
                                {{ ' ' }}
                                {% if buttons.save and buttons.save.label %}
                                    {{ buttons.save.label|lang }}
                                {% else %}
                                    {{ 'Save'|lang }}
                                {% endif %}
                            </button>
                        {% endif %}

                        {% if not buttons or buttons.cancel is null or buttons.cancel != false %}
                            <a href="{{ avoca_url(list_link) }}" class="btn">
                                {% if buttons.cancel and buttons.cancel.label %}
                                    {{ buttons.cancel.label|lang }}
                                {% else %}
                                    {{ 'Cancel'|lang }}
                                {% endif %}
                            </a>
                        {% endif %}

                        {% if buttons and buttons.more %}
                            <div class="pull-right">
                                {% for b in buttons.more %}
                                    {% set bclass = 'secondary' %}
                                    {% if b.color %}
                                        {% set bclass = b.color %}
                                    {% endif %}
                                    <button type="{{ b.type ?: 'button' }}"
                                            onclick="{{ b.click ?: 'javascript:;' }}"
                                            class="btn btn-{{ bclass }}">
                                        {% if b.icon %}
                                            <i class="{{ b.icon }}"></i>
                                        {% endif %}
                                        {{ ' ' }}
                                        {{ b.label|lang }}
                                    </button>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}