{% extends 'layouts/manage.twig' %}

{% block content %}
    <div class="row ListView">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'Modules'|lang }}</h3>

                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" href="{{ avoca_url(create_link) }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    {% if listdefs %}
                        {{ form_open('', {method: 'get', id: 'ListViewForm'}) }}
                            <input type="hidden" name="order_by" value="{{ sort.field }}" id="FormOrderBy">
                            <input type="hidden" name="order" value="{{ sort.order }}" id="FormOrder">
                            <table class="table table-responsive-sm table-bordered table-striped table-sortable">
                                <thead>
                                    <tr>
                                        <th width="1%" class="no">
                                            <div class="dropdown">
                                                    <a href="javascript:;" class="dropdown-toggle"
                                                          id="dropdownMenuButton"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="false"></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" id="DeleteRecords" href="javascript:;">{{ 'Delete'|lang }}</a>
                                                </div>
                                            </div>
                                        </th>
                                        {% for field, option in listdefs.fields %}
                                            {% set order = 'asc' %}
                                            {% if field == sort.field %}
                                                {% if sort.order == 'asc' %}
                                                    {% set order = 'desc' %}
                                                {% endif %}
                                            {% endif %}

                                            <th class="{% if option.nosort %}no{% else %}sortListView{% endif %}{% if sort.field == field %} {{ sort.order }}{% endif %}"
                                                order_by="{{ field }}"
                                                order_type="{{ order }}">
                                                {{ fieldLabel(field, option)|lang }}
                                            </th>
                                        {% endfor %}
                                        <th class="no">{{ 'Actions'|lang }}</th>
                                    </tr>
                                    {#Search#}
                                    {% include search_form %}
                                </thead>
                                <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td><input type="checkbox" name="ids[]" class="input-check" value="{{ recordFVal(record, 'id') }}"></td>
                                            {% for field, option in listdefs.fields %}
                                                <td>{{ recordVal(record, field, option) }}</td>
                                            {% endfor %}
                                            <td class="list-action">
                                                {% if not viewdefs.disabled_view %}
                                                    <a href="{{ recordLink(view_link, record) }}" class="btn btn-sm btn-info">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                {% endif %}

                                                {% if not viewdefs.disabled_edit %}
                                                    <a href="{{ recordLink(edit_link, record) }}" class="btn btn-sm btn-warning">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                {% endif %}

                                                {% if not viewdefs.disabled_delete %}
                                                    <a href="{{ recordLink(delete_link, record) }}" class="btn btn-sm btn-danger DeleteRecord">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav>{{ pagination|raw }}</nav>
                            <input type="hidden" name="r" value="{{ return_url }}">
                        {{ form_close() }}
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'No config layout'|lang }}:
                            <code>application/config/models/{{ model_name }}/viewdefs.php</code>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#DeleteRecords').click(function () {
                $('#ListViewForm').attr('action', '{{ avoca_url(delete_batch_link) }}');
                $('#ListViewForm').attr('method', 'post');
                $('#ListViewForm').submit();
            });
            $('a.DeleteRecord').click(function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $.confirm({
                    title: 'Confirm!',
                    content: 'Simple confirm!',
                    buttons: {
                        confirm: {
                            text: '{{ 'Ok'|lang }}',
                            action: function () {
                                location.href = href + '?r={{ return_url|url_encode }}';
                            }
                        },
                        cancel: {
                            text: '{{ 'Cancel'|lang }}',
                        }
                    }
                });
            });
            $('th.sortListView').click(function () {
                var order_by = $(this).attr('order_by');
                var order = $(this).attr('order_type');
                $('#FormOrderBy').val(order_by);
                $('#FormOrder').val(order);
                $('#ListViewForm').submit();
            });
        });
    </script>
{% endblock %}