{% extends 'layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    {{ __('Module management') }}

                    <div class="card-header-actions">
                        <a class="card-header-action btn-setting" href="{{ avoca_admin('/Settings/create_module') }}">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>{{ __('Module name') }}</th>
                            <th>{{ __('Models') }}</th>
                            <th>{{ __('Is created') }}</th>
                            <th>{{ __('Action') }}</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for module in modules %}
                                <tr>
                                    <td>
                                        <a href="{{ avoca_url(module.module) }}">
                                            {{ module.module }}
                                        </a>
                                    </td>
                                    <td>{{ module.model }}</td>
                                    <td>
                                        {% if module.is_created %}
                                            <span class="badge badge-info">{{ 'Created'|lang }}</span>
                                        {% else %}
                                            <span class="badge badge-warning">{{ 'N/A'|lang }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ avoca_admin('/Settings/create_module/' ~ module.module) }}" class="badge badge-warning">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{{ avoca_admin('/Settings/remove_module/' ~ module.module) }}" class="badge badge-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
