extends ../../../layouts/manage

block content
    section.content-header
        h1= __('Dashboard')
        small= __('Control panel')
        ol.breadcrumb
            li
                a(href=avoca_manage())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= ('Dashboard')

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title= ('Control panel')

            .box-body