extends ../../../layouts/manage

block content
    section.content-header
        h1= __(title)
            small= __('Oauth2')
        ol.breadcrumb
            li
                a(href=avoca_admin())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= __('Dashboard')

    section.content
        form(action=avoca_admin('/oauth2'), method="post")
            .box.box-info
                .box-header.with-border
                    h3.box-title= record.client_id
                    .box-tools.pull-right
                        a.btn.btn-box-tool(href=avoca_admin('/oauth2'))
                            i.fa.fa-arrow-circle-left

                .box-body
                    .form-group
                        label= __('Client id')
                        input.form-control(type="text", name="client_id", value=record.client_id)
                    .form-group
                        label= __('Client secret')
                        input.form-control(type="text", name="client_secret", value=record.client_secret)
                    .form-group
                        label= __('Redirect uri')
                        input.form-control(type="text", name="redirect_uri", value=record.redirect_uri)
                    .form-group
                        label= __('Grant types')
                        != form_multiselect('grant_types[]', _grant_types, record.grant_types_selected, {'class': 'form-control'})
                    .form-group
                        label= __('Scope')
                        != form_multiselect('scope[]', oauth_scopes, record.scope_selected, {'class': 'form-control'})

                .box-footer
                    button.btn.btn-primary(type="submit") Save