extends ../../../layouts/manage

block content
    section.content-header
        h1= __(title)
            small= __('Oauth2')
        ol.breadcrumb
            li
                a(href=avoca_admin())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= __('Dashboard')

    section.content
        form(action=avoca_admin('/oauth2/scopes'), method="post")
            .box.box-info
                .box-header.with-border
                    h3.box-title= record.client_id
                    .box-tools.pull-right
                        a.btn.btn-box-tool(href=avoca_admin('/oauth2'))
                            i.fa.fa-arrow-circle-left

                .box-body
                    .form-group
                        label= __('Scope')
                        input.form-control(type="text", name="scope", value=record.scope)
                    .checkbox
                        label
                            != form_checkbox('is_default', 1, record.is_default)
                            = __('Is default')

                .box-footer
                    button.btn.btn-primary(type="submit") Save