extends ../../../layouts/manage

block content
    section.content-header
        h1= __('Scope')
            small= __('Oauth2')
        ol.breadcrumb
            li
                a(href=avoca_admin())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= __('Dashboard')

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title= __('Oauth Scope')
                .box-tools.pull-right
                    a.btn.btn-box-tool(href=avoca_admin('/oauth2/edit_scope'))
                        i.fa.fa-plus

            .box-body
                table.table.table-bordered
                    thead
                        tr
                            th= __('Scope')
                            th= __('Is default')
                            th= __('Action')
                    tbody
                        each record in records
                            tr
                                td= record.scope
                                td= record.is_default
                                td
                                    a.btn.btn-xs.btn-link(href=avoca_admin('/oauth2/delete/scope/' + record.scope))
                                        i.fa.fa-trash