extends ../../../layouts/manage

block content
    section.content-header
        h1= __('Access Tokens')
            small= __('Oauth2')
        ol.breadcrumb
            li
                a(href=avoca_admin())
                    i.fa.fa-dashboard
                    = ' ' + __('Home')
            li.active= __('Dashboard')

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title= __('Oauth Access Tokens')

            .box-body
                table.table.table-bordered
                    thead
                        tr
                            th= __('Tokens')
                            th= __('Client id')
                            th= __('User')
                            th= __('Expires')
                            th= __('Scope')
                    tbody
                        each record in records
                            tr
                                td= record.access_token
                                td= record.client_id
                                td= record.user_id
                                td= record.expires
                                td= record.scope