{% extends 'templates/layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ __('All Settings') }}</h3>
                </div>

                <div class="box-body">
                    <a href="{{ avoca_admin('/settings/repair_database') }}" class="btn btn-lg btn-danger">
                        <i class="fa fa-cog"></i> {{ __('Repair') }}
                    </a>

                    <a href="{{ avoca_admin('/settings/modules') }}" class="btn btn-lg btn-primary">
                        <i class="fa fa-list"></i> {{ __('Modules') }}
                    </a>

                    <a href="{{ avoca_admin('/settings/create_module') }}" class="btn btn-lg btn-primary">
                        <i class="fa fa-plus-square"></i> {{ __('Create Module') }}
                    </a>

                    <a href="{{ avoca_admin('/settings/mail_setting') }}" class="btn btn-lg btn-primary">
                        <i class="fa fa-envelope"></i> {{ __('Mail Setting') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}