{% extends 'templates/layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_open(avoca_admin('/settings/mail_setting')) }}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'Mail SMTP setting'|lang }}</h3>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label>{{ 'Send from'|lang }}</label>
                            {{ form_input('mail_from', mail_from, {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ 'SMTP HOST'|lang }}</label>
                            {{ form_input('mail[smtp_host]', mail['smtp_host'], {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ 'SMTP PORT'|lang }}</label>
                            {{ form_input('mail[smtp_port]', mail['smtp_port'], {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ 'SMTP USER'|lang }}</label>
                            {{ form_input('mail[smtp_user]', mail['smtp_user'], {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ 'SMTP PASSWORD'|lang }}</label>
                            {{ form_password('mail[smtp_pass]', mail['smtp_pass'], {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ 'MAIL TYPE'|lang }}</label>
                            {{ form_dropdown('mail[mailtype]', {'html': 'HTML', 'text': 'TEXT'}, [mail['mailtype']], {class: 'form-control'}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ 'CHARSET'|lang }}</label>
                            {{ form_input('mail[charset]', mail['charset'], {class: 'form-control'}) }}
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save setting</button>
                    </div>
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}