{% extends 'layouts/admin.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ __('Module management') }}</h3>

                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" href="{{ avoca_admin('/settings/create_module') }}">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>{{ __('Controller Name') }}</th>
                            <th>{{ __('Model Name') }}</th>
                            <th>{{ __('Table Name') }}</th>
                            <th>{{ __('Action') }}</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for module in modules %}
                                <tr>
                                    <td>
                                        <a href="{{ avoca_url(module.controller) }}">
                                            {{ module.controller }}
                                        </a>
                                    </td>
                                    <td>{{ module.model }}</td>
                                    <td>{{ module.table }}</td>
                                    <td>
                                        <a href="{{ avoca_admin('/settings/create_module/' ~ module.controller) }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
