script(src=avoca_static() + "/bower_components/jquery-ui/jquery-ui.min.js")
script.
    $.widget.bridge('uibutton', $.ui.button);

script(src=avoca_static() + "/bower_components/moment/min/moment.min.js")
script(src=avoca_static() + "/bower_components/bootstrap-daterangepicker/daterangepicker.js")
script(src=avoca_static() + "/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
script(src=avoca_static() + "/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
script(src=avoca_static() + "/bower_components/jquery-slimscroll/jquery.slimscroll.min.js")
script(src=avoca_static() + "/bower_components/fastclick/lib/fastclick.js")
script(src=avoca_static() + "/js/adminlte.min.js")
