{% extends 'layouts/manage_simple.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_open('/Install') }}
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>Install Avoca Framework</h1>
                        <p class="text-muted">Add database and create admin user</p>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">DB Host</span>
                            </div>
                            {{ form_input('db_host', 'localhost', {class: 'form-control'}) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">DB User</span>
                            </div>
                            {{ form_input('db_username', 'root', {class: 'form-control'}) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">DB Password</span>
                            </div>
                            {{ form_input('db_password', '', {class: 'form-control'}) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">DB Name</span>
                            </div>
                            {{ form_input('db_database', 'avoca_platform', {class: 'form-control'}) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Title</span>
                            </div>
                            {{ form_input('title', 'Avoca IO', {class: 'form-control'}) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Site URL</span>
                            </div>
                            {{ form_input('base_url', base_url(), {class: 'form-control'}) }}
                        </div>
                    </div>

                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="submit">
                                    <span>Install</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="reset">
                                    <span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}